body {
    background-image: url(https://media.istockphoto.com/photos/hawaiian-pizza-with-ham-and-pineapple-picture-id1349383878?b=1&k=20&m=1349383878&s=170667a&w=0&h=3AbAQ2fZXl0BYLr11F_E8C_OxM_-VP9ZIFJ8n185sVg=
    );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Header {
    background-color: white;
    border-radius: 0.5em;
}
.Small-Pizza{
    background-color: aqua;
    border: 3px solid black;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin: 1em;
}
.Medium-Pizza{
    background-color: cornflowerblue;
    border: 3px solid black;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin: 1em;
    
}
.Large-Pizza{
    background-color: firebrick;
    border: 3px solid black;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin: 1em;
    
}
.Contact-details{
    background-color: darkgoldenrod;
    border: 3px solid black;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}
@media(min-width:960px) {
   
.Container {
    display:flex;
    align-content: center;
}
.align {
    align-content: center;
}

}
